.container{
    max-width: 1400px;
    border:1px solid pink;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /*fotengely menten*/
    gap:5px; /*flexdoboz kozotti space*/
}

.sor{
    flex:1;
}

img{
    width:100%;
}